In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv("D:\Third Year Sem 2\DSBDA\\dataset_Facebook.csv")

In [4]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 500 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         500 non-null    int64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 499 non-null    float64
 7   Lifetime Post Total Reach                                            500 non-null    int64
 8   Lifetime Post Total Impressions                                      500 non-null    int64
 9   Lifetime Engaged Users                                               500 non-null    int64
 10  Lifetime Post Consumers                                              500 non-null    int64
 11  Lifetime Post Consumptions                                           500 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         500 non-null    int64
 13  Lifetime Post reach by people who like your Page                     500 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  500 non-null    int64
 15  comment                                                              500 non-null    int64
 16  like                                                                 499 non-null    float64
 17  share                                                                496 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(3), int64(15), object(1)
memory usage: 74.3+ KB

In [6]:
df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,500.000000,500.000000,500.000000,500.000000,500.000000,499.000000,500.00000,5.000000e+02,500.000000,500.000000,500.000000,5.000000e+02,500.000000,500.000000,500.00000,499.000000,496.000000,500.000000
mean,123194.176000,1.880000,7.038000,4.150000,7.840000,0.278557,13903.36000,2.958595e+04,920.344000,798.772000,1415.130000,1.676638e+04,6585.488000,609.986000,7.48200,177.945892,27.266129,212.120000
std,16272.813214,0.852675,3.307936,2.030701,4.368589,0.448739,22740.78789,7.680325e+04,985.016636,882.505013,2000.594118,5.979102e+04,7682.009405,612.725618,21.18091,323.398742,42.613292,380.233118
min,81370.000000,1.000000,1.000000,1.000000,1.000000,0.000000,238.00000,5.700000e+02,9.000000,9.000000,9.000000,5.670000e+02,236.000000,9.000000,0.00000,0.000000,0.000000,0.000000
25%,112676.000000,1.000000,4.000000,2.000000,3.000000,0.000000,3315.00000,5.694750e+03,393.750000,332.500000,509.250000,3.969750e+03,2181.500000,291.000000,1.00000,56.500000,10.000000,71.000000
50%,129600.000000,2.000000,7.000000,4.000000,9.000000,0.000000,5281.00000,9.051000e+03,625.500000,551.500000,851.000000,6.255500e+03,3417.000000,412.000000,3.00000,101.000000,19.000000,123.500000
75%,136393.000000,3.000000,10.000000,6.000000,11.000000,1.000000,13168.00000,2.208550e+04,1062.000000,955.500000,1463.000000,1.486050e+04,7989.000000,656.250000,7.00000,187.500000,32.250000,228.500000
max,139441.000000,3.000000,12.000000,7.000000,23.000000,1.000000,180480.00000,1.110282e+06,11452.000000,11328.000000,19779.000000,1.107833e+06,51456.000000,4376.000000,372.00000,5172.000000,790.000000,6334.000000

In [7]:
df.shape

(500, 19)

In [8]:
df.isnull()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
496,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
498,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   1
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   1
share                                                                  4
Total Interactions                                                     0
dtype: int64

In [10]:
df.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

 CREATE DATA SUBSETS

In [11]:
x = df[['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post','comment']]

In [12]:
x

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0

In [13]:
y = df[['comment', 'like', 'share', 'Total Interactions']]

In [14]:
y

     comment    like  share  Total Interactions
0          4    79.0   17.0                 100
1          5   130.0   29.0                 164
2          0    66.0   14.0                  80
3         58  1572.0  147.0                1777
4         19   325.0   49.0                 393
..       ...     ...    ...                 ...
495        5    53.0   26.0                  84
496        0    53.0   22.0                  75
497        4    93.0   18.0                 115
498        7    91.0   38.0                 136
499        0    91.0   28.0                 119

[500 rows x 4 columns]

In [15]:
nx=pd.DataFrame(x)

In [16]:
nx

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0

In [17]:
ny=pd.DataFrame(y)

In [18]:
newxy=pd.merge(nx,ny,on='comment')

In [19]:
#newxy=pd.concat(nx,ny)

In [20]:
newxy

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,86.0,18.0,108
2,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,54.0,17.0,75
3,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,98.0,23.0,125
4,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,57.0,10.0,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25541,113028,Photo,1,4,6,14,0.0,28352,55202,1476,1242,1990,47899,24512,1185,45,407.0,76.0,528
25542,111620,Photo,3,4,1,14,1.0,105632,147918,3984,2254,3391,48575,27328,1936,51,1998.0,128.0,2177
25543,92507,Photo,3,2,1,13,0.0,55520,665792,4544,3586,6624,648611,47488,3430,146,1546.0,181.0,1873
25544,86909,Photo,2,1,4,11,0.0,11484,20696,1762,1635,2741,8774,5124,722,56,360.0,99.0,515
25545,85979,Photo,3,1,7,10,0.0,9700,17442,1407,1271,2007,8872,4876,660,21,277.0,80.0,378

sorting

In [21]:
df.sort_values(by=['Page total likes'])

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
493,85093,Photo,3,1,1,2,0.0,8412,13960,1179,1111,1632,8632,5348,699,17,185.0,55.0,257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,139441,Status,2,12,5,10,0.0,21744,42334,4258,4100,4540,37849,18952,3798,0,233.0,19.0,252
11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
13,139441,Photo,2,12,5,3,0.0,2549,4896,249,134,168,3631,1917,183,5,137.0,10.0,152
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100

In [22]:
df.sort_values(by=['Page total likes'],ascending=False)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
8,139441,Status,2,12,7,3,0.0,11844,22538,1530,1407,1692,15220,7912,1250,0,161.0,31.0,192
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
12,139441,Photo,2,12,5,10,0.0,2847,5133,193,115,133,3779,2072,152,0,90.0,14.0,104
11,139441,Photo,2,12,5,10,0.0,3112,5590,208,127,145,3887,2174,165,0,88.0,18.0,106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [23]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Page total likes,139441,139441,139441,139441,139441,139441,139441,139441,139441,139441,...,85979,85979,85979,85093,85093,85093,81370,81370,81370,81370
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Post Month,12,12,12,12,12,12,12,12,12,12,...,1,1,1,1,1,1,1,1,1,1
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,6,5,1,7,7,5,5,4,4
Post Hour,3,10,3,10,3,9,3,9,3,10,...,11,3,11,2,10,2,8,2,11,4
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach,2752,10460,2413,50128,7244,10472,11692,13720,11844,4694,...,5280,6184,45920,8412,5400,4684,3480,3778,4156,4188
Lifetime Post Total Impressions,5091,19057,4373,87991,13594,20849,19479,24137,22538,8668,...,8703,10228,5808,13960,9218,7536,6229,7216,7564,7292
Lifetime Engaged Users,178,1457,177,2211,671,1191,481,537,1530,280,...,951,956,753,1179,810,733,537,625,626,564
Lifetime Post Consumers,109,1361,113,790,410,1073,265,232,1407,183,...,911,901,655,1111,756,708,508,572,574,524
Lifetime Post Consumptions,159,1674,154,1119,580,1389,364,305,1692,250,...,1237,1140,763,1632,1003,985,687,795,832,743
Lifetime Post Impressions by people who have liked your Page,3078,11710,2812,61027,6228,16034,15432,19728,15220,4309,...,5757,6085,15766,8632,5654,4750,3961,4742,4534,3861
Lifetime Post reach by people who like your Page,1640,6112,1503,32048,3200,7852,9328,11056,7912,2324,...,3300,3502,10720,5348,3230,2876,2104,2388,2452,2200
Lifetime People who have liked your Page and engaged with your post,119,1108,132,1386,396,1016,379,422,1250,199,...,431,437,220,699,422,392,301,363,370,316
comment,4,5,0,58,19,1,3,0,0,3,...,1,1,0,17,10,5,0,4,7,0
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,110,152,137,257,176,84,75,115,136,119

In [24]:
df.stack()

0    Page total likes                                                       139441
     Type                                                                    Photo
     Category                                                                    2
     Post Month                                                                 12
     Post Weekday                                                                4
                                                                             ...
499  Lifetime People who have liked your Page and engaged with your post       316
     comment                                                                     0
     like                                                                     91.0
     share                                                                    28.0
     Total Interactions                                                        119
Length: 9494, dtype: object

In [25]:
df.melt()

                variable   value
0       Page total likes  139441
1       Page total likes  139441
2       Page total likes  139441
3       Page total likes  139441
4       Page total likes  139441
...                  ...     ...
9495  Total Interactions      84
9496  Total Interactions      75
9497  Total Interactions     115
9498  Total Interactions     136
9499  Total Interactions     119

[9500 rows x 2 columns]

In [26]:
re=df.pivot(columns=['Category','Post Month'],values ='Post Hour')

In [27]:
re

Category       2    3   1   2   1   3       1   2      ...       1   3   2  \
Post Month    12   12  12  11  11  11  10  10  10  9   ...  4   3   3   3
0            3.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN NaN
1           10.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN NaN
2            NaN  3.0 NaN NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN NaN
3           10.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN NaN
4            3.0  NaN NaN NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN NaN
..           ...  ...  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..
495          NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN NaN
496          NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN NaN
497          NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN NaN
498          NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN NaN
499          NaN  NaN NaN NaN NaN NaN NaN NaN NaN NaN  ... NaN NaN NaN NaN

Category     1   3   2     3    1    2
Post Month  2   2   2     1    1    1
0          NaN NaN NaN   NaN  NaN  NaN
1          NaN NaN NaN   NaN  NaN  NaN
2          NaN NaN NaN   NaN  NaN  NaN
3          NaN NaN NaN   NaN  NaN  NaN
4          NaN NaN NaN   NaN  NaN  NaN
..          ..  ..  ..   ...  ...  ...
495        NaN NaN NaN   2.0  NaN  NaN
496        NaN NaN NaN   NaN  NaN  8.0
497        NaN NaN NaN   NaN  2.0  NaN
498        NaN NaN NaN  11.0  NaN  NaN
499        NaN NaN NaN   NaN  NaN  4.0

[500 rows x 36 columns]

In [28]:
df.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

1

In [29]:
df_1=df.loc[0:50,['Type','Post Weekday','Post Hour','like', 'share']]

In [30]:
df_1

      Type  Post Weekday  Post Hour    like  share
0    Photo             4          3    79.0   17.0
1   Status             3         10   130.0   29.0
2    Photo             3          3    66.0   14.0
3    Photo             2         10  1572.0  147.0
4    Photo             2          3   325.0   49.0
5   Status             1          9   152.0   33.0
6    Photo             1          3   249.0   27.0
7    Photo             7          9   325.0   14.0
8   Status             7          3   161.0   31.0
9    Photo             6         10   113.0   26.0
10  Status             5         10   233.0   19.0
11   Photo             5         10    88.0   18.0
12   Photo             5         10    90.0   14.0
13   Photo             5          3   137.0   10.0
14   Photo             4          5   577.0   20.0
15  Status             3         10    86.0   18.0
16   Photo             3          3    40.0   12.0
17   Photo             2         12   678.0   20.0
18  Status             2          3    54.0   17.0
19   Photo             1         11    34.0    8.0
20   Photo             1          3    66.0   12.0
21   Photo             7         10     0.0    0.0
22    Link             7         10    16.0    2.0
23   Photo             7          3    72.0   24.0
24  Status             6         10    99.0   19.0
25  Status             6          3    88.0   18.0
26  Status             5         11   412.0   72.0
27   Photo             5          3   100.0   17.0
28   Photo             5          3   523.0   63.0
29   Video             4         11   143.0   13.0
30   Photo             4          2   107.0   22.0
31   Photo             3         10    27.0   11.0
32   Photo             3          3   155.0   47.0
33   Photo             2          9    98.0   23.0
34   Photo             2          3    56.0   17.0
35   Photo             1         11   172.0   21.0
36   Photo             1          3    96.0   17.0
37   Photo             7         10    76.0    8.0
38  Status             7          9   227.0   31.0
39   Photo             7          3    44.0   14.0
40  Status             6         11   216.0   39.0
41    Link             6          3   187.0   18.0
42   Photo             5         10    26.0    3.0
43    Link             5          3    29.0   10.0
44   Photo             4         11    47.0   11.0
45    Link             4          3    57.0   10.0
46  Status             3         11   174.0   36.0
47    Link             3          2    18.0    8.0
48   Photo             2         11    77.0   15.0
49    Link             2          2    12.0    1.0
50   Photo             1          9    48.0    9.0

2

In [31]:
df_2=df.loc[0:25,['Type','Total Interactions','like', 'share']]
df_2

      Type  Total Interactions    like  share
0    Photo                 100    79.0   17.0
1   Status                 164   130.0   29.0
2    Photo                  80    66.0   14.0
3    Photo                1777  1572.0  147.0
4    Photo                 393   325.0   49.0
5   Status                 186   152.0   33.0
6    Photo                 279   249.0   27.0
7    Photo                 339   325.0   14.0
8   Status                 192   161.0   31.0
9    Photo                 142   113.0   26.0
10  Status                 252   233.0   19.0
11   Photo                 106    88.0   18.0
12   Photo                 104    90.0   14.0
13   Photo                 152   137.0   10.0
14   Photo                 599   577.0   20.0
15  Status                 108    86.0   18.0
16   Photo                  54    40.0   12.0
17   Photo                 713   678.0   20.0
18  Status                  75    54.0   17.0
19   Photo                  42    34.0    8.0
20   Photo                  81    66.0   12.0
21   Photo                   0     0.0    0.0
22    Link                  18    16.0    2.0
23   Photo                  96    72.0   24.0
24  Status                 121    99.0   19.0
25  Status                 106    88.0   18.0

3

In [32]:
df_3 = df[df['Post Hour']>3]
df_3

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
5,139441,Status,2,12,1,9,0.0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
7,139441,Photo,3,12,7,9,1.0,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
9,139441,Photo,3,12,6,10,0.0,4694,8668,280,183,250,4309,2324,199,3,113.0,26.0,142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,85979,Link,1,1,5,11,0.0,45920,5808,753,655,763,15766,10720,220,0,128.0,9.0,137
494,85093,Photo,3,1,7,10,0.0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

4

In [33]:
df_1.sort_values(by=['like', 'share'],ascending=False)

      Type  Post Weekday  Post Hour    like  share
3    Photo             2         10  1572.0  147.0
17   Photo             2         12   678.0   20.0
14   Photo             4          5   577.0   20.0
28   Photo             5          3   523.0   63.0
26  Status             5         11   412.0   72.0
4    Photo             2          3   325.0   49.0
7    Photo             7          9   325.0   14.0
6    Photo             1          3   249.0   27.0
10  Status             5         10   233.0   19.0
38  Status             7          9   227.0   31.0
40  Status             6         11   216.0   39.0
41    Link             6          3   187.0   18.0
46  Status             3         11   174.0   36.0
35   Photo             1         11   172.0   21.0
8   Status             7          3   161.0   31.0
32   Photo             3          3   155.0   47.0
5   Status             1          9   152.0   33.0
29   Video             4         11   143.0   13.0
13   Photo             5          3   137.0   10.0
1   Status             3         10   130.0   29.0
9    Photo             6         10   113.0   26.0
30   Photo             4          2   107.0   22.0
27   Photo             5          3   100.0   17.0
24  Status             6         10    99.0   19.0
33   Photo             2          9    98.0   23.0
36   Photo             1          3    96.0   17.0
12   Photo             5         10    90.0   14.0
11   Photo             5         10    88.0   18.0
25  Status             6          3    88.0   18.0
15  Status             3         10    86.0   18.0
0    Photo             4          3    79.0   17.0
48   Photo             2         11    77.0   15.0
37   Photo             7         10    76.0    8.0
23   Photo             7          3    72.0   24.0
2    Photo             3          3    66.0   14.0
20   Photo             1          3    66.0   12.0
45    Link             4          3    57.0   10.0
34   Photo             2          3    56.0   17.0
18  Status             2          3    54.0   17.0
50   Photo             1          9    48.0    9.0
44   Photo             4         11    47.0   11.0
39   Photo             7          3    44.0   14.0
16   Photo             3          3    40.0   12.0
19   Photo             1         11    34.0    8.0
43    Link             5          3    29.0   10.0
31   Photo             3         10    27.0   11.0
42   Photo             5         10    26.0    3.0
47    Link             3          2    18.0    8.0
22    Link             7         10    16.0    2.0
49    Link             2          2    12.0    1.0
21   Photo             7         10     0.0    0.0

5

In [34]:
df_12=pd.merge(df_1,df_2,on='Type')

In [35]:
df_12

,Type,Post Weekday,Post Hour,like_x,share_x,Total Interactions,like_y,share_y
0,Photo,4,3,79.0,17.0,100,79.0,17.0
1,Photo,4,3,79.0,17.0,80,66.0,14.0
2,Photo,4,3,79.0,17.0,1777,1572.0,147.0
3,Photo,4,3,79.0,17.0,393,325.0,49.0
4,Photo,4,3,79.0,17.0,279,249.0,27.0
...,...,...,...,...,...,...,...,...
641,Link,6,3,187.0,18.0,18,16.0,2.0
642,Link,5,3,29.0,10.0,18,16.0,2.0
643,Link,4,3,57.0,10.0,18,16.0,2.0
644,Link,3,2,18.0,8.0,18,16.0,2.0
645,Link,2,2,12.0,1.0,18,16.0,2.0

In [36]:
df_12.sort_values(by=['share_x'])

,Type,Post Weekday,Post Hour,like_x,share_x,Total Interactions,like_y,share_y
265,Photo,7,10,0.0,0.0,599,577.0,20.0
264,Photo,7,10,0.0,0.0,152,137.0,10.0
263,Photo,7,10,0.0,0.0,104,90.0,14.0
262,Photo,7,10,0.0,0.0,106,88.0,18.0
261,Photo,7,10,0.0,0.0,142,113.0,26.0
...,...,...,...,...,...,...,...,...
49,Photo,2,10,1572.0,147.0,0,0.0,0.0
50,Photo,2,10,1572.0,147.0,96,72.0,24.0
34,Photo,2,10,1572.0,147.0,100,79.0,17.0
43,Photo,2,10,1572.0,147.0,152,137.0,10.0
35,Photo,2,10,1572.0,147.0,80,66.0,14.0

6

In [37]:
df_1.merge(df_2, left_on='like', right_on='share',suffixes=('_left', '_right'))

,Type_left,Post Weekday,Post Hour,like_left,share_left,Type_right,Total Interactions,like_right,share_right
0,Photo,7,10,0.0,0.0,Photo,0,0.0,0.0
1,Photo,3,10,27.0,11.0,Photo,279,249.0,27.0
2,Photo,5,10,26.0,3.0,Photo,142,113.0,26.0
3,Link,5,3,29.0,10.0,Status,164,130.0,29.0
4,Link,3,2,18.0,8.0,Photo,106,88.0,18.0
5,Link,3,2,18.0,8.0,Status,108,86.0,18.0
6,Link,3,2,18.0,8.0,Status,106,88.0,18.0
7,Link,2,2,12.0,1.0,Photo,54,40.0,12.0
8,Link,2,2,12.0,1.0,Photo,81,66.0,12.0

7

In [38]:
tdf_1=df_1.transpose()
tdf_1

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Link,Photo,Link,Photo,Link,Status,Link,Photo,Link,Photo
Post Weekday,4,3,3,2,2,1,1,7,7,6,...,6,5,5,4,4,3,3,2,2,1
Post Hour,3,10,3,10,3,9,3,9,3,10,...,3,10,3,11,3,11,2,11,2,9
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,187.0,26.0,29.0,47.0,57.0,174.0,18.0,77.0,12.0,48.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,18.0,3.0,10.0,11.0,10.0,36.0,8.0,15.0,1.0,9.0

In [39]:
tdf_1.sort_values(by=['Type'],ascending=False,axis=1)

,29,25,10,1,24,18,15,38,26,5,...,19,20,21,50,22,41,43,45,47,49
Type,Video,Status,Status,Status,Status,Status,Status,Status,Status,Status,...,Photo,Photo,Photo,Photo,Link,Link,Link,Link,Link,Link
Post Weekday,4,6,5,3,6,2,3,7,5,1,...,1,1,7,1,7,6,5,4,3,2
Post Hour,11,3,10,10,10,3,10,9,11,9,...,11,3,10,9,10,3,3,3,2,2
like,143.0,88.0,233.0,130.0,99.0,54.0,86.0,227.0,412.0,152.0,...,34.0,66.0,0.0,48.0,16.0,187.0,29.0,57.0,18.0,12.0
share,13.0,18.0,19.0,29.0,19.0,17.0,18.0,31.0,72.0,33.0,...,8.0,12.0,0.0,9.0,2.0,18.0,10.0,10.0,8.0,1.0

In [40]:
tdf_2=df_2.transpose()
tdf_2

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Status,Photo,Photo,Photo,Link,Photo,Status,Status
Total Interactions,100,164,80,1777,393,186,279,339,192,142,...,54,713,75,42,81,0,18,96,121,106
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,40.0,678.0,54.0,34.0,66.0,0.0,16.0,72.0,99.0,88.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,12.0,20.0,17.0,8.0,12.0,0.0,2.0,24.0,19.0,18.0

In [41]:
tdf_2.sort_values(by=['Type'],ascending=False,axis=1)

,25,15,24,5,8,18,10,1,23,21,...,12,11,9,7,6,4,3,2,13,22
Type,Status,Status,Status,Status,Status,Status,Status,Status,Photo,Photo,...,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Link
Total Interactions,106,108,121,186,192,75,252,164,96,0,...,104,106,142,339,279,393,1777,80,152,18
like,88.0,86.0,99.0,152.0,161.0,54.0,233.0,130.0,72.0,0.0,...,90.0,88.0,113.0,325.0,249.0,325.0,1572.0,66.0,137.0,16.0
share,18.0,18.0,19.0,33.0,31.0,17.0,19.0,29.0,24.0,0.0,...,14.0,18.0,26.0,14.0,27.0,49.0,147.0,14.0,10.0,2.0

8

In [42]:
df_1.melt()

    variable   value
0       Type   Photo
1       Type  Status
2       Type   Photo
3       Type   Photo
4       Type   Photo
..       ...     ...
250    share    36.0
251    share     8.0
252    share    15.0
253    share     1.0
254    share     9.0

[255 rows x 2 columns]

In [43]:
df_2.melt()

    variable   value
0       Type   Photo
1       Type  Status
2       Type   Photo
3       Type   Photo
4       Type   Photo
..       ...     ...
99     share     0.0
100    share     2.0
101    share    24.0
102    share    19.0
103    share    18.0

[104 rows x 2 columns]

In [44]:
df_3.melt()

                variable   value
0       Page total likes  139441
1       Page total likes  139441
2       Page total likes  139441
3       Page total likes  139441
4       Page total likes  139441
...                  ...     ...
6683  Total Interactions     137
6684  Total Interactions     176
6685  Total Interactions      75
6686  Total Interactions     136
6687  Total Interactions     119

[6688 rows x 2 columns]

In [45]:
result1=df.pivot(columns=['Type','Post Weekday'],values ='Post Hour')
result1

Type         Photo Status Photo       Status Photo      Status Photo Status  \
Post Weekday     4      3     3     2      1     1    7      7     6      5
0              3.0    NaN   NaN   NaN    NaN   NaN  NaN    NaN   NaN    NaN
1              NaN   10.0   NaN   NaN    NaN   NaN  NaN    NaN   NaN    NaN
2              NaN    NaN   3.0   NaN    NaN   NaN  NaN    NaN   NaN    NaN
3              NaN    NaN   NaN  10.0    NaN   NaN  NaN    NaN   NaN    NaN
4              NaN    NaN   NaN   3.0    NaN   NaN  NaN    NaN   NaN    NaN
..             ...    ...   ...   ...    ...   ...  ...    ...   ...    ...
495            NaN    NaN   NaN   NaN    NaN   NaN  2.0    NaN   NaN    NaN
496            NaN    NaN   NaN   NaN    NaN   NaN  NaN    NaN   NaN    NaN
497            NaN    NaN   NaN   NaN    NaN   NaN  NaN    NaN   NaN    NaN
498           11.0    NaN   NaN   NaN    NaN   NaN  NaN    NaN   NaN    NaN
499            4.0    NaN   NaN   NaN    NaN   NaN  NaN    NaN   NaN    NaN

Type          ... Link             Video     Status Video     Link
Post Weekday  ...    5   4   3   2     6   5      4     3   2    1
0             ...  NaN NaN NaN NaN   NaN NaN    NaN   NaN NaN  NaN
1             ...  NaN NaN NaN NaN   NaN NaN    NaN   NaN NaN  NaN
2             ...  NaN NaN NaN NaN   NaN NaN    NaN   NaN NaN  NaN
3             ...  NaN NaN NaN NaN   NaN NaN    NaN   NaN NaN  NaN
4             ...  NaN NaN NaN NaN   NaN NaN    NaN   NaN NaN  NaN
..            ...  ...  ..  ..  ..   ...  ..    ...   ...  ..  ...
495           ...  NaN NaN NaN NaN   NaN NaN    NaN   NaN NaN  NaN
496           ...  NaN NaN NaN NaN   NaN NaN    NaN   NaN NaN  NaN
497           ...  NaN NaN NaN NaN   NaN NaN    NaN   NaN NaN  NaN
498           ...  NaN NaN NaN NaN   NaN NaN    NaN   NaN NaN  NaN
499           ...  NaN NaN NaN NaN   NaN NaN    NaN   NaN NaN  NaN

[500 rows x 26 columns]

In [46]:
result2=df.pivot(columns=['Type','Total Interactions'],values ='like')
result2

Type               Photo Status Photo                Status Photo      Status  \
Total Interactions  100    164   80      1777   393    186   279  339    192
0                   79.0    NaN   NaN     NaN    NaN    NaN   NaN  NaN    NaN
1                    NaN  130.0   NaN     NaN    NaN    NaN   NaN  NaN    NaN
2                    NaN    NaN  66.0     NaN    NaN    NaN   NaN  NaN    NaN
3                    NaN    NaN   NaN  1572.0    NaN    NaN   NaN  NaN    NaN
4                    NaN    NaN   NaN     NaN  325.0    NaN   NaN  NaN    NaN
..                   ...    ...   ...     ...    ...    ...   ...  ...    ...
495                  NaN    NaN   NaN     NaN    NaN    NaN   NaN  NaN    NaN
496                  NaN    NaN   NaN     NaN    NaN    NaN   NaN  NaN    NaN
497                  NaN    NaN   NaN     NaN    NaN    NaN   NaN  NaN    NaN
498                  NaN    NaN   NaN     NaN    NaN    NaN   NaN  NaN    NaN
499                  NaN    NaN   NaN     NaN    NaN    NaN   NaN  NaN    NaN

Type               Photo  ...           Link Photo      Link Photo      Link  \
Total Interactions  142   ... 182  633  107   127  515  7     108  378  137
0                    NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN
1                    NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN
2                    NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN
3                    NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN
4                    NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN
..                   ...  ...  ...  ...  ...   ...  ...  ...   ...  ...  ...
495                  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN
496                  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN
497                  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN
498                  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN
499                  NaN  ...  NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN

Type               Photo
Total Interactions  257
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
..                   ...
495                  NaN
496                  NaN
497                  NaN
498                  NaN
499                  NaN

[500 rows x 327 columns]

In [47]:
result2=df.pivot(columns=['Type','Category'],values ='Post Hour')
result2

Type     Photo Status Photo      Status Link Video Status Link
Category     2      2     3    1      3    1     1      1    3   2
0          3.0    NaN   NaN  NaN    NaN  NaN   NaN    NaN  NaN NaN
1          NaN   10.0   NaN  NaN    NaN  NaN   NaN    NaN  NaN NaN
2          NaN    NaN   3.0  NaN    NaN  NaN   NaN    NaN  NaN NaN
3         10.0    NaN   NaN  NaN    NaN  NaN   NaN    NaN  NaN NaN
4          3.0    NaN   NaN  NaN    NaN  NaN   NaN    NaN  NaN NaN
..         ...    ...   ...  ...    ...  ...   ...    ...  ...  ..
495        NaN    NaN   2.0  NaN    NaN  NaN   NaN    NaN  NaN NaN
496        8.0    NaN   NaN  NaN    NaN  NaN   NaN    NaN  NaN NaN
497        NaN    NaN   NaN  2.0    NaN  NaN   NaN    NaN  NaN NaN
498        NaN    NaN  11.0  NaN    NaN  NaN   NaN    NaN  NaN NaN
499        4.0    NaN   NaN  NaN    NaN  NaN   NaN    NaN  NaN NaN

[500 rows x 10 columns]