In [39]:
import pandas as pd

In [40]:
airData = pd.read_csv("airquality.csv")

In [41]:
airData.isnull().sum()

Unnamed: 0     0
Ozone         37
Solar.R        7
Wind           0
Temp           0
Month          0
Day            0
dtype: int64

In [42]:
airData.head()

   Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
0           1   41.0    190.0   7.4    67      5    1
1           2   36.0    118.0   8.0    72      5    2
2           3   12.0    149.0  12.6    74      5    3
3           4   18.0    313.0  11.5    62      5    4
4           5    NaN      NaN  14.3    56      5    5

In [43]:
#Calculating the Mean of Ozone column
mean_ozone = airData['Ozone'].mean()

In [44]:
#Substituting the null value in Ozone column with the mean of Ozone
airData['Ozone'].fillna(mean_ozone,inplace=True)
# Column Ozone cleaned

In [45]:
airData.isnull().sum()

Unnamed: 0    0
Ozone         0
Solar.R       7
Wind          0
Temp          0
Month         0
Day           0
dtype: int64

In [46]:
# Cleaned Solar.R column by replacing null with the mean of the column
airData['Solar.R'].fillna(airData['Solar.R'].mean(),inplace=True)

In [47]:
airData.isnull().sum()

Unnamed: 0    0
Ozone         0
Solar.R       0
Wind          0
Temp          0
Month         0
Day           0
dtype: int64

In [48]:
airData['NewSolar'] = [True if x1>200 else False for x1 in airData['Solar.R']]

In [49]:
airData.head()

   Unnamed: 0     Ozone     Solar.R  Wind  Temp  Month  Day  NewSolar
0           1  41.00000  190.000000   7.4    67      5    1     False
1           2  36.00000  118.000000   8.0    72      5    2     False
2           3  12.00000  149.000000  12.6    74      5    3     False
3           4  18.00000  313.000000  11.5    62      5    4      True
4           5  42.12931  185.931507  14.3    56      5    5     False

In [50]:
airData.isnull().sum()

Unnamed: 0    0
Ozone         0
Solar.R       0
Wind          0
Temp          0
Month         0
Day           0
NewSolar      0
dtype: int64

In [51]:
airData['NewTemp'] = ['Hot' if x1>60 else 'cold' for x1 in airData['Temp']]

In [52]:
airData.head()

   Unnamed: 0     Ozone     Solar.R  Wind  Temp  Month  Day  NewSolar NewTemp
0           1  41.00000  190.000000   7.4    67      5    1     False     Hot
1           2  36.00000  118.000000   8.0    72      5    2     False     Hot
2           3  12.00000  149.000000  12.6    74      5    3     False     Hot
3           4  18.00000  313.000000  11.5    62      5    4      True     Hot
4           5  42.12931  185.931507  14.3    56      5    5     False    cold

In [53]:
vec=[0,50,100,150,200,250,300,350]
airData['Solar.R'] = pd.cut(airData['Solar.R'],bins=vec)

In [54]:
airData.head(20)

    Unnamed: 0     Ozone     Solar.R  Wind  Temp  Month  Day  NewSolar NewTemp
0            1  41.00000  (150, 200]   7.4    67      5    1     False     Hot
1            2  36.00000  (100, 150]   8.0    72      5    2     False     Hot
2            3  12.00000  (100, 150]  12.6    74      5    3     False     Hot
3            4  18.00000  (300, 350]  11.5    62      5    4      True     Hot
4            5  42.12931  (150, 200]  14.3    56      5    5     False    cold
5            6  28.00000  (150, 200]  14.9    66      5    6     False     Hot
6            7  23.00000  (250, 300]   8.6    65      5    7      True     Hot
7            8  19.00000   (50, 100]  13.8    59      5    8     False    cold
8            9   8.00000     (0, 50]  20.1    61      5    9     False     Hot
9           10  42.12931  (150, 200]   8.6    69      5   10     False     Hot
10          11   7.00000  (150, 200]   6.9    74      5   11     False     Hot
11          12  16.00000  (250, 300]   9.7    69      5   12      True     Hot
12          13  11.00000  (250, 300]   9.2    66      5   13      True     Hot
13          14  14.00000  (250, 300]  10.9    68      5   14      True     Hot
14          15  18.00000   (50, 100]  13.2    58      5   15     False    cold
15          16  14.00000  (300, 350]  11.5    64      5   16      True     Hot
16          17  34.00000  (300, 350]  12.0    66      5   17      True     Hot
17          18   6.00000   (50, 100]  18.4    57      5   18     False    cold
18          19  30.00000  (300, 350]  11.5    68      5   19      True     Hot
19          20  11.00000     (0, 50]   9.7    62      5   20     False     Hot

In [55]:
ozone_range=[0,10,20,30,40,50]
airData['Ozone'] = pd.cut(airData['Ozone'],bins=ozone_range)

In [56]:
airData.head(20)

    Unnamed: 0     Ozone     Solar.R  Wind  Temp  Month  Day  NewSolar NewTemp
0            1  (40, 50]  (150, 200]   7.4    67      5    1     False     Hot
1            2  (30, 40]  (100, 150]   8.0    72      5    2     False     Hot
2            3  (10, 20]  (100, 150]  12.6    74      5    3     False     Hot
3            4  (10, 20]  (300, 350]  11.5    62      5    4      True     Hot
4            5  (40, 50]  (150, 200]  14.3    56      5    5     False    cold
5            6  (20, 30]  (150, 200]  14.9    66      5    6     False     Hot
6            7  (20, 30]  (250, 300]   8.6    65      5    7      True     Hot
7            8  (10, 20]   (50, 100]  13.8    59      5    8     False    cold
8            9   (0, 10]     (0, 50]  20.1    61      5    9     False     Hot
9           10  (40, 50]  (150, 200]   8.6    69      5   10     False     Hot
10          11   (0, 10]  (150, 200]   6.9    74      5   11     False     Hot
11          12  (10, 20]  (250, 300]   9.7    69      5   12      True     Hot
12          13  (10, 20]  (250, 300]   9.2    66      5   13      True     Hot
13          14  (10, 20]  (250, 300]  10.9    68      5   14      True     Hot
14          15  (10, 20]   (50, 100]  13.2    58      5   15     False    cold
15          16  (10, 20]  (300, 350]  11.5    64      5   16      True     Hot
16          17  (30, 40]  (300, 350]  12.0    66      5   17      True     Hot
17          18   (0, 10]   (50, 100]  18.4    57      5   18     False    cold
18          19  (20, 30]  (300, 350]  11.5    68      5   19      True     Hot
19          20  (10, 20]     (0, 50]   9.7    62      5   20     False     Hot

In [57]:
wind_range=[0,5,10,15,20,25]
airData['Wind'] = pd.cut(airData['Wind'],bins=wind_range)

In [58]:
airData.head(20)

,Unnamed: 0,Ozone,Solar.R,Wind,Temp,Month,Day,NewSolar,NewTemp
0,1,"(40, 50]","(150, 200]","(5, 10]",67,5,1,False,Hot
1,2,"(30, 40]","(100, 150]","(5, 10]",72,5,2,False,Hot
2,3,"(10, 20]","(100, 150]","(10, 15]",74,5,3,False,Hot
3,4,"(10, 20]","(300, 350]","(10, 15]",62,5,4,True,Hot
4,5,"(40, 50]","(150, 200]","(10, 15]",56,5,5,False,cold
5,6,"(20, 30]","(150, 200]","(10, 15]",66,5,6,False,Hot
6,7,"(20, 30]","(250, 300]","(5, 10]",65,5,7,True,Hot
7,8,"(10, 20]","(50, 100]","(10, 15]",59,5,8,False,cold
8,9,"(0, 10]","(0, 50]","(20, 25]",61,5,9,False,Hot
9,10,"(40, 50]","(150, 200]","(5, 10]",69,5,10,False,Hot
10,11,"(0, 10]","(150, 200]","(5, 10]",74,5,11,False,Hot
11,12,"(10, 20]","(250, 300]","(5, 10]",69,5,12,True,Hot
12,13,"(10, 20]","(250, 300]","(5, 10]",66,5,13,True,Hot
13,14,"(10, 20]","(250, 300]","(10, 15]",68,5,14,True,Hot
14,15,"(10, 20]","(50, 100]","(10, 15]",58,5,15,False,cold
15,16,"(10, 20]","(300, 350]","(10, 15]",64,5,16,True,Hot
16,17,"(30, 40]","(300, 350]","(10, 15]",66,5,17,True,Hot
17,18,"(0, 10]","(50, 100]","(15, 20]",57,5,18,False,cold
18,19,"(20, 30]","(300, 350]","(10, 15]",68,5,19,True,Hot
19,20,"(10, 20]","(0, 50]","(5, 10]",62,5,20,False,Hot

In [59]:
airData.loc[airData['Month']==5,"Month"] = "May"
airData.loc[airData['Month']==6,"Month"] = "June"

In [60]:
airData.head(20)

,Unnamed: 0,Ozone,Solar.R,Wind,Temp,Month,Day,NewSolar,NewTemp
0,1,"(40, 50]","(150, 200]","(5, 10]",67,May,1,False,Hot
1,2,"(30, 40]","(100, 150]","(5, 10]",72,May,2,False,Hot
2,3,"(10, 20]","(100, 150]","(10, 15]",74,May,3,False,Hot
3,4,"(10, 20]","(300, 350]","(10, 15]",62,May,4,True,Hot
4,5,"(40, 50]","(150, 200]","(10, 15]",56,May,5,False,cold
5,6,"(20, 30]","(150, 200]","(10, 15]",66,May,6,False,Hot
6,7,"(20, 30]","(250, 300]","(5, 10]",65,May,7,True,Hot
7,8,"(10, 20]","(50, 100]","(10, 15]",59,May,8,False,cold
8,9,"(0, 10]","(0, 50]","(20, 25]",61,May,9,False,Hot
9,10,"(40, 50]","(150, 200]","(5, 10]",69,May,10,False,Hot
10,11,"(0, 10]","(150, 200]","(5, 10]",74,May,11,False,Hot
11,12,"(10, 20]","(250, 300]","(5, 10]",69,May,12,True,Hot
12,13,"(10, 20]","(250, 300]","(5, 10]",66,May,13,True,Hot
13,14,"(10, 20]","(250, 300]","(10, 15]",68,May,14,True,Hot
14,15,"(10, 20]","(50, 100]","(10, 15]",58,May,15,False,cold
15,16,"(10, 20]","(300, 350]","(10, 15]",64,May,16,True,Hot
16,17,"(30, 40]","(300, 350]","(10, 15]",66,May,17,True,Hot
17,18,"(0, 10]","(50, 100]","(15, 20]",57,May,18,False,cold
18,19,"(20, 30]","(300, 350]","(10, 15]",68,May,19,True,Hot
19,20,"(10, 20]","(0, 50]","(5, 10]",62,May,20,False,Hot