In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"D:\ML Assignments\airquality.csv")

In [3]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [4]:
df.isnull().sum()

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

In [5]:
x = df["Ozone"].mean()

In [6]:
x

42.12931034482759

In [7]:
df["Ozone"].fillna(x,inplace=True)

In [8]:
x1 = df["Solar.R"].mean()

In [9]:
df["Solar.R"].fillna(x,inplace=True)

In [10]:
df.isnull().sum()

Ozone      0
Solar.R    0
Wind       0
Temp       0
Month      0
Day        0
dtype: int64

In [11]:
df["New Solar"]=[True if y>100 else False for y in df["Solar.R"]]

In [12]:
df["New Solar"]

0       True
1       True
2       True
3       True
4      False
       ...
148     True
149     True
150     True
151     True
152     True
Name: New Solar, Length: 153, dtype: bool

In [13]:
df

        Ozone    Solar.R  Wind  Temp  Month  Day  New Solar
0    41.00000  190.00000   7.4    67      5    1       True
1    36.00000  118.00000   8.0    72      5    2       True
2    12.00000  149.00000  12.6    74      5    3       True
3    18.00000  313.00000  11.5    62      5    4       True
4    42.12931   42.12931  14.3    56      5    5      False
..        ...        ...   ...   ...    ...  ...        ...
148  30.00000  193.00000   6.9    70      9   26       True
149  42.12931  145.00000  13.2    77      9   27       True
150  14.00000  191.00000  14.3    75      9   28       True
151  18.00000  131.00000   8.0    76      9   29       True
152  20.00000  223.00000  11.5    68      9   30       True

[153 rows x 7 columns]

In [14]:
df["Temperature"]=["HOT" if y>60 else "COLD" for y in df["Temp"]]

In [15]:
df

        Ozone    Solar.R  Wind  Temp  Month  Day  New Solar Temperature
0    41.00000  190.00000   7.4    67      5    1       True         HOT
1    36.00000  118.00000   8.0    72      5    2       True         HOT
2    12.00000  149.00000  12.6    74      5    3       True         HOT
3    18.00000  313.00000  11.5    62      5    4       True         HOT
4    42.12931   42.12931  14.3    56      5    5      False        COLD
..        ...        ...   ...   ...    ...  ...        ...         ...
148  30.00000  193.00000   6.9    70      9   26       True         HOT
149  42.12931  145.00000  13.2    77      9   27       True         HOT
150  14.00000  191.00000  14.3    75      9   28       True         HOT
151  18.00000  131.00000   8.0    76      9   29       True         HOT
152  20.00000  223.00000  11.5    68      9   30       True         HOT

[153 rows x 8 columns]

In [16]:
# vec=[0,50,100,150,200,250,300,350]

In [17]:
# df["Solar.R"] = pd.cut(df["Solar.R"] , bins=vec)

In [18]:
df

        Ozone    Solar.R  Wind  Temp  Month  Day  New Solar Temperature
0    41.00000  190.00000   7.4    67      5    1       True         HOT
1    36.00000  118.00000   8.0    72      5    2       True         HOT
2    12.00000  149.00000  12.6    74      5    3       True         HOT
3    18.00000  313.00000  11.5    62      5    4       True         HOT
4    42.12931   42.12931  14.3    56      5    5      False        COLD
..        ...        ...   ...   ...    ...  ...        ...         ...
148  30.00000  193.00000   6.9    70      9   26       True         HOT
149  42.12931  145.00000  13.2    77      9   27       True         HOT
150  14.00000  191.00000  14.3    75      9   28       True         HOT
151  18.00000  131.00000   8.0    76      9   29       True         HOT
152  20.00000  223.00000  11.5    68      9   30       True         HOT

[153 rows x 8 columns]

In [19]:
# df.loc[df["Month"]==5,"Month"] = "May"
# df.loc[df["Month"]==6,"Month"] = "June"
# df.loc[df["Month"]==7,"Month"] = "July"
# df.loc[df["Month"]==8,"Month"] = "August"
# df.loc[df["Month"]==9,"Month"] = "September"
# df.loc[df["Month"]==10,"Month"] = "October"
# df.loc[df["Month"]==11,"Month"] = "November"
# df.loc[df["Month"]==12,"Month"] = "December"

In [20]:
df

        Ozone    Solar.R  Wind  Temp  Month  Day  New Solar Temperature
0    41.00000  190.00000   7.4    67      5    1       True         HOT
1    36.00000  118.00000   8.0    72      5    2       True         HOT
2    12.00000  149.00000  12.6    74      5    3       True         HOT
3    18.00000  313.00000  11.5    62      5    4       True         HOT
4    42.12931   42.12931  14.3    56      5    5      False        COLD
..        ...        ...   ...   ...    ...  ...        ...         ...
148  30.00000  193.00000   6.9    70      9   26       True         HOT
149  42.12931  145.00000  13.2    77      9   27       True         HOT
150  14.00000  191.00000  14.3    75      9   28       True         HOT
151  18.00000  131.00000   8.0    76      9   29       True         HOT
152  20.00000  223.00000  11.5    68      9   30       True         HOT

[153 rows x 8 columns]

In [21]:
X = df[['Ozone', 'Solar.R', 'Wind','Month', 'Day', 'New Solar']]
Y = df['Temperature']

In [22]:
y_c = [1 if 'COLD' else 0 for each in Y]

In [23]:
print(y_c)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [24]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()

In [25]:
t = df["Temperature"]
labelencoder_g = LabelEncoder()
t = labelencoder_g.fit_transform(t)

In [26]:
t

array([1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [27]:
from sklearn.model_selection import train_test_split
X_train, x_test, Y_train, y_test = train_test_split(X, y_c, test_size=0.3, random_state=1)

In [28]:
from sklearn.linear_model import LinearRegression
from sklearn import linear_model

In [29]:
reg = linear_model.LinearRegression()
model=reg.fit(X_train,Y_train)

In [30]:
y_pred = model.predict(x_test)

In [31]:
y_pred

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [32]:
from sklearn.metrics import mean_absolute_error

In [33]:
mae= mean_absolute_error(y_pred, y_test)

In [34]:
print("Mean Absolute Error is : ", mae)

Mean Absolute Error is :  0.0

In [36]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

1.0