In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('dataset_facebook.csv')

In [9]:
df.head()

  Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0  139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1  139441;Status;2;12;3;10;0;10460;19057;1457;136...
2  139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3  139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4  139441;Photo;2;12;2;3;0;7244;13594;671;410;580...

In [10]:
df = pd.read_csv('dataset_facebook.csv', delimiter=';')

In [11]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [12]:
df.shape

(500, 19)

## create subsets

In [33]:
subset1 = df[['Type','Category','Paid','like','share']]
subset1

       Type  Category  Paid    like  share
0     Photo         2   0.0    79.0   17.0
1    Status         2   0.0   130.0   29.0
2     Photo         3   0.0    66.0   14.0
3     Photo         2   1.0  1572.0  147.0
4     Photo         2   0.0   325.0   49.0
..      ...       ...   ...     ...    ...
495   Photo         3   0.0    53.0   26.0
496   Photo         2   0.0    53.0   22.0
497   Photo         1   0.0    93.0   18.0
498   Photo         3   0.0    91.0   38.0
499   Photo         2   NaN    91.0   28.0

[500 rows x 5 columns]

# loc and 5:50 displays 5 to 50 rows

In [34]:
subset2 = df.loc[4:25,['Type','Total Interactions','like','share']]
subset2

      Type  Total Interactions   like  share
4    Photo                 393  325.0   49.0
5   Status                 186  152.0   33.0
6    Photo                 279  249.0   27.0
7    Photo                 339  325.0   14.0
8   Status                 192  161.0   31.0
9    Photo                 142  113.0   26.0
10  Status                 252  233.0   19.0
11   Photo                 106   88.0   18.0
12   Photo                 104   90.0   14.0
13   Photo                 152  137.0   10.0
14   Photo                 599  577.0   20.0
15  Status                 108   86.0   18.0
16   Photo                  54   40.0   12.0
17   Photo                 713  678.0   20.0
18  Status                  75   54.0   17.0
19   Photo                  42   34.0    8.0
20   Photo                  81   66.0   12.0
21   Photo                   0    0.0    0.0
22    Link                  18   16.0    2.0
23   Photo                  96   72.0   24.0
24  Status                 121   99.0   19.0
25  Status                 106   88.0   18.0

# Merge Data

In [35]:
mergeData = pd.merge(subset1,subset2)
mergeData

      Type  Category  Paid   like  share  Total Interactions
0    Photo         2   0.0  325.0   49.0                 393
1   Status         2   0.0  152.0   33.0                 186
2    Photo         3   1.0  249.0   27.0                 279
3    Photo         3   1.0  325.0   14.0                 339
4   Status         2   0.0  161.0   31.0                 192
5    Photo         3   0.0  113.0   26.0                 142
6   Status         2   0.0  233.0   19.0                 252
7    Photo         2   0.0   88.0   18.0                 106
8    Photo         2   0.0   90.0   14.0                 104
9    Photo         2   0.0  137.0   10.0                 152
10   Photo         2   1.0  577.0   20.0                 599
11  Status         2   0.0   86.0   18.0                 108
12   Photo         3   0.0   40.0   12.0                  54
13   Photo         1   1.0  678.0   20.0                 713
14  Status         3   0.0   54.0   17.0                  75
15   Photo         3   0.0   34.0    8.0                  42
16   Photo         2   0.0   66.0   12.0                  81
17   Photo         1   0.0    0.0    0.0                   0
18   Photo         1   0.0    0.0    0.0                   0
19   Photo         1   1.0    0.0    0.0                   0
20   Photo         1   0.0    0.0    0.0                   0
21   Photo         1   1.0    0.0    0.0                   0
22    Link         1   0.0   16.0    2.0                  18
23   Photo         3   0.0   72.0   24.0                  96
24   Photo         1   0.0   72.0   24.0                  96
25  Status         2   0.0   99.0   19.0                 121
26  Status         2   0.0   88.0   18.0                 106

In [36]:
merge2 =subset1.merge(subset2,left_on='like',right_on='share')

In [37]:
merge2

,Type_x,Category,Paid,like_x,share_x,Type_y,Total Interactions,like_y,share_y
0,Photo,1,0.0,0.0,0.0,Photo,0,0.0,0.0
1,Photo,1,0.0,0.0,0.0,Photo,0,0.0,0.0
2,Photo,1,1.0,0.0,0.0,Photo,0,0.0,0.0
3,Photo,1,0.0,0.0,0.0,Photo,0,0.0,0.0
4,Photo,1,1.0,0.0,0.0,Photo,0,0.0,0.0
5,Photo,2,0.0,27.0,11.0,Photo,279,249.0,27.0
6,Photo,1,0.0,27.0,11.0,Photo,279,249.0,27.0
7,Photo,1,0.0,26.0,3.0,Photo,142,113.0,26.0
8,Link,1,0.0,18.0,8.0,Photo,106,88.0,18.0
9,Link,1,0.0,18.0,8.0,Status,108,86.0,18.0
10,Link,1,0.0,18.0,8.0,Status,106,88.0,18.0
11,Photo,1,0.0,18.0,NaN,Photo,106,88.0,18.0
12,Photo,1,0.0,18.0,NaN,Status,108,86.0,18.0
13,Photo,1,0.0,18.0,NaN,Status,106,88.0,18.0
14,Link,1,0.0,12.0,1.0,Photo,54,40.0,12.0
15,Link,1,0.0,12.0,1.0,Photo,81,66.0,12.0
16,Link,1,0.0,12.0,2.0,Photo,54,40.0,12.0
17,Link,1,0.0,12.0,2.0,Photo,81,66.0,12.0
18,Photo,1,0.0,2.0,NaN,Link,18,16.0,2.0
19,Photo,1,0.0,2.0,0.0,Link,18,16.0,2.0
20,Photo,1,0.0,2.0,0.0,Link,18,16.0,2.0
21,Photo,1,0.0,8.0,2.0,Photo,42,34.0,8.0
22,Link,1,1.0,24.0,11.0,Photo,96,72.0,24.0
23,Photo,1,1.0,24.0,4.0,Photo,96,72.0,24.0
24,Photo,2,0.0,17.0,9.0,Status,75,54.0,17.0
25,Status,2,1.0,14.0,1.0,Photo,339,325.0,14.0
26,Status,2,1.0,14.0,1.0,Photo,104,90.0,14.0
27,Photo,1,0.0,14.0,1.0,Photo,339,325.0,14.0
28,Photo,1,0.0,14.0,1.0,Photo,104,90.0,14.0
29,Photo,1,0.0,19.0,5.0,Status,252,233.0,19.0
30,Photo,1,0.0,19.0,5.0,Status,121,99.0,19.0
31,Photo,3,0.0,33.0,10.0,Status,186,152.0,33.0
32,Photo,1,0.0,49.0,15.0,Photo,393,325.0,49.0

# Sort

In [45]:
sort1=subset1.sort_values(by = ['like'],ascending=False)

In [46]:
sort1

      Type  Category  Paid    like  share
244  Photo         2   1.0  5172.0  790.0
379  Photo         3   1.0  1998.0  128.0
349  Photo         3   0.0  1639.0  122.0
168  Photo         1   0.0  1622.0  208.0
3    Photo         2   1.0  1572.0  147.0
..     ...       ...   ...     ...    ...
21   Photo         1   0.0     0.0    0.0
100  Photo         1   1.0     0.0    0.0
441  Photo         1   1.0     0.0    0.0
417  Photo         1   0.0     0.0    0.0
111  Photo         1   0.0     NaN    NaN

[500 rows x 5 columns]

# Transpose

In [47]:
transp = subset1.transpose()

In [48]:
transp

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
Type,Photo,Status,Photo,Photo,Photo,Status,Photo,Photo,Status,Photo,...,Photo,Photo,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category,2,2,3,2,2,2,3,3,2,3,...,3,3,1,3,3,3,2,1,3,2
Paid,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
like,79.0,130.0,66.0,1572.0,325.0,152.0,249.0,325.0,161.0,113.0,...,79.0,105.0,128.0,185.0,125.0,53.0,53.0,93.0,91.0,91.0
share,17.0,29.0,14.0,147.0,49.0,33.0,27.0,14.0,31.0,26.0,...,30.0,46.0,9.0,55.0,41.0,26.0,22.0,18.0,38.0,28.0

# Melt is used to reshape dataframe

In [49]:
subset1.melt()

     variable   value
0        Type   Photo
1        Type  Status
2        Type   Photo
3        Type   Photo
4        Type   Photo
...       ...     ...
2495    share    26.0
2496    share    22.0
2497    share    18.0
2498    share    38.0
2499    share    28.0

[2500 rows x 2 columns]